:root {
    --clr-main: #b1664f;
    --clr-btn: #f0a500;
}

body {
    margin: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

h2{
  font-size: 2.8rem !important;
  font-weight: 800;
}
p{
  font-size: 1.2rem !important;
  font-weight: 500;
}


body::-webkit-scrollbar {
    display: none; /* Esto oculta las barras de desplazamiento en Chrome, Safari y otros navegadores basados en Webkit */
  }

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

.logo img {
    height: 50px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navigation a:hover {
    color: var(--clr-btn);
}

.reserve-button button {
    background-color: #f0a500;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserve-button button:hover {
    background-color: var(--clr-btn);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-bottom-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
  }

/* Capa de opacidad sobre el video */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro translúcido */
    background-size: cover;
    z-index: 0;
}

.hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    z-index: 1; /* Asegura que el contenido esté sobre el video */
    
}

.hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-content button {
    background-color: #f0a500;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: #d18b00;
}






/* ESPACIO DE NOMBRE DE LA EMPRESA */

.container-our{
  padding: 10rem 25rem 10rem 25rem;
}

.our{
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.our p{
  max-width: 50%;
}


/* ESPACIO DE EL POR QUE NOSOTROS */

.why-us{
  padding: 0rem 25rem 10rem 25rem;
  color: black;
  display: flex;
  flex-direction: column;
}

.container-us{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden; 
}

.content-us{
  max-width: 60%;
}

.container-us.left {
  height: auto;
}
.container-us.left h2{
  text-align: right;
}
.container-us.left p{
  text-align: right;
  padding-left: 8rem;
}

.container-us.right {
  flex-direction: row-reverse; 
  height: auto;
}

.container-us.right h2, p{
  text-align: left;
}
.container-us.right p{
  padding-right: 8rem;
}


.image-us {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
}


/* Contenedor principal que va a contener todos los contenedores alternados */
.container-list{
    background-color: var(--clr-main);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5rem 15rem 5rem 15rem;
    gap: 20px; /* Espacio entre los contenedores */
  }
  
  /* Estilo para cada contenedor individual */
  .container-faq {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden; /* Para evitar que las imágenes se salgan */
  }
  
  .container-faq.left {
    background-color: #1f1f1f; 
    height: auto;
  }
  .container-faq.left h2, p{
    text-align: right;
  }
  
  .container-faq.right {
    background-color: #292929;
    flex-direction: row-reverse; 
    height: auto;
  }

  .container-faq.right h2, p{
    text-align: left;
  }
  
  .image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }
  
  .content {
    width: 60%; 
    padding-left: 20px;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
  }
  
  p {
    margin: 10px 0 0;
  }
  





