:root {
    --clr-main: #efefef;
    --clr-btn: #ff6600;
    --clr-btn-hover: #e65c00;
}

body {
    margin: 0;
    overflow: auto;
    font-family: 'Poppins', sans-serif;
}

h1, h2{
  font-size: 2.8rem !important;
  font-weight: 800;
}
p{
  font-size: 1.2rem !important;
  font-weight: 500;
}


body::-webkit-scrollbar {
    display: none; 
  }

.header {
  background-color: white;
  height: 120px;
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}

.logo {
  height: 32px;
  margin-right  : 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}

.brand {
  color: black;
  font-weight: 700;
  font-size: 18px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.brand:hover {
  opacity: 0.8;
}

.nav-menu {
  display: flex;
  gap: 32px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-menu a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  font-size: 15px;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  bottom: 0; /* <- esto alinea la línea con el borde inferior del header */
  left: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-menu a:hover::after {
  transform: scaleX(1);
}

.social-icons {
  display: flex;
  gap: 16px;
  height: 100%;
  align-items: center;
  position: relative;
}

.social-icons a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.social-icons a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.social-icons a:hover::after {
  transform: scaleX(1);
}

.social-icons img {
  width: 22px;
  height: 22px;
  transition: transform 0.2s;
  display: block;
}

.lenguages{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.lang-button {
  background-color: transparent;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
}

/* Hamburguesa */
.burger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: black;
    margin-left: auto;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #0F1126;
    padding: 20px;
    z-index: 1000;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
  
  .mobile-menu.show {
    display: flex;
  }
  
  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
  }
  
  .mobile-nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .mobile-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
  }
  
  .mobile-socials img {
    width: 24px;
    height: 24px;
    filter: brightness(0) invert(1);
  }

.reserve-button button {
    background-color: var(--clr-btn);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.reserve-button button:hover {
    background-color: var(--clr-btn-hover);
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-bottom-right-radius: 7rem;
    border-bottom-left-radius: 7rem;
  }

/* Capa de opacidad sobre el video */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro translúcido */
    background-size: cover;
    z-index: 0;
}

.hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    z-index: 1; /* Asegura que el contenido esté sobre el video */
    
}

.hero-content {
    position: relative;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-content button {
    background-color: var(--clr-btn);
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero-content button:hover {
    background-color: var(--clr-btn-hover);
}






/* ESPACIO DE NOMBRE DE LA EMPRESA */

.container-our{
  padding: 10rem 25rem 10rem 25rem;
}

.our{
  display: flex;
  align-items: center;  
  justify-content: space-between;
}

.our p{
  max-width: 50%;
}


/* ESPACIO DE EL POR QUE NOSOTROS */

.why-us{
  padding: 0rem 25rem 10rem 25rem;
  color: black;
  display: flex;
  flex-direction: column;
}

.container-us{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden; 
}

.content-us{
  max-width: 60%;
}

.container-us.left {
  height: auto;
}
.container-us.left h2{
  text-align: right;
}
.container-us.left p{
  text-align: right;
  padding-left: 8rem;
}

.container-us.right {
  flex-direction: row-reverse; 
  height: auto;
}

.container-us.right h2, p{
  text-align: left;
}
.container-us.right p{
  padding-right: 8rem;
}


.image-us {
  width: 500px;
  height: 500px;
  background-size: cover;
  background-position: center;
}


/* LOS JUEGOS  */

.our-games{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: white;
}

.titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.game{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  border-radius: 3rem;
  margin-bottom: 15rem;
}

.game-container{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 0 6rem 0 6rem;  
}

.btn{
  border-radius: 12px;
  width: 14rem;
  height: 4rem;
  background-color: var(--clr-btn);
  color: white;
  border: 0;
  font-size: medium;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--clr-btn-hover);
}

.image-game{
  width: 300px;
  height: 300px;
  background-size: auto;
  background-position: center;
  margin: 2rem 0rem 2rem 2rem;
  border-radius: 3rem;
}



/* PRECIOS Y PAQUETES */


.paquetes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.paquete {
  background-color: var(--clr-main);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
  transition: transform 0.3s ease;
  margin-bottom: 15rem;
}

.paquete:hover {
  transform: translateY(-5px);
}

h3 {
  font-size: 40px;
  margin-bottom: 15px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

ul li {
  margin: 10px 0;
  font-size: 32px;
  color: #666;
}

.precio {
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.boton {
  background: #ff6600;
  color: white;
  border: none;
  padding: 15px 22px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.boton:hover {
  background: #e65c00;
}




/* Contenedor principal que va a contener todos los contenedores alternados */
.container-list{
    background-color: #ff6600;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5rem 15rem 5rem 15rem;
    gap: 20px; /* Espacio entre los contenedores */
  }
  
  /* Estilo para cada contenedor individual */
  .container-faq {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaciado correcto */
    padding: 20px;
    border-radius: 10px;
    overflow: hidden; /* Para evitar que las imágenes se salgan */
  }
  
  .container-faq.left {
    background-color: #1f1f1f; 
    height: auto;
  }
  .container-faq.left h2,.container-faq.left p{
    text-align: right;
  }
  
  .container-faq.right {
    background-color: #292929;
    flex-direction: row-reverse; 
    height: auto;
  }

  .container-faq.right h2,.container-faq.right p{
    text-align: left;
  }
  
  .image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }
  
  .content {
    width: 60%; 
    padding-left: 20px;
  }
  
  h2 {
    margin: 0;
    font-size: 24px;
  }
  
  p {
    margin: 10px 0 0;
  }
  




  /* FOOTER */


  footer{
    background-color: #1f1f1f;
  }



/* MEDIA QUERY */


@media screen and (max-width: 768px) {

  /* HEADER */

  .hero-logo {
    top: 1px;
    max-width: 230px;
  }

  .nav-menu {
    display: none !important;
  }

  .social-icons {
    display: none;
  }

  .burger {
    display: block;
    z-index: 1100;
  }

  /* HERO */
  .hero-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}






